@charset "UTF-8";
/* #a77e58 - цвет акцента */
/* 1a1a1a - черный цвет фон */
/* #ffffff - белый шрифт */
/* #171717 - серый для портфолио */
/* #000000 - черный - основной цвет */
/* #222222 - -цвет фона карточек наша команда */
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul, li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

body {
  color: #000000;
  background-color: #ffffff;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

img {
  display: block;
}

.title {
  font-style: normal;
  text-align: center;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
  .title {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.4;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 1024px) {
  .title {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.6;
    letter-spacing: 0.03em;
  }
}

.section-black {
  min-width: 320px;
  background-color: #1a1a1a;
  color: #ffffff;
  margin: 0px;
  padding-bottom: 15px;
  /* min-height: 550px; */
}
@media screen and (min-width: 480px) {
  .section-black {
    min-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .section-black {
    min-width: 768px;
  }
}

.section-grey {
  background-color: #f5f5f5;
  margin: 0px;
  padding: 15px 0px;
}
@media screen and (min-width: 480px) {
  .section-grey {
    min-height: 420px;
    min-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .section-grey {
    min-height: auto;
    min-width: 768px;
  }
}
@media screen and (min-width: 1024px) {
  .section-grey {
    height: auto;
    width: 100%;
  }
}

.container {
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
  }
}

.container-benefits {
  min-width: 320px;
}
@media screen and (min-width: 480px) {
  .container-benefits {
    min-width: 480px;
  }
}
@media screen and (min-width: 1024px) {
  .container-benefits {
    width: 480px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.container.flex {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media screen and (max-width: 1023px) {
  .container.flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.table {
  border: 1px solid #eee;
  table-layout: fixed;
  width: 100%;
  margin-bottom: 20px;
}

.table th {
  font-weight: bold;
  padding: 5px;
  background: #1a1a1a;
  color: #fff;
  border: 1px solid #dddddd;
}

.table td {
  padding: 5px 10px;
  border: 1px solid #eee;
  text-align: center;
}

.table th {
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

.table tbody tr:nth-child(odd) {
  background: #fff;
}

.table tbody tr:nth-child(even) {
  background: #dadada;
}

/* =============Хедер========================== */
header {
  position: absolute;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  header {
    position: fixed;
    background-color: #1a1a1a;
    opacity: 0.8;
    z-index: 3;
  }
}

.section-header {
  color: #ffffff;
  margin: 0px;
  padding-bottom: 5px;
}
@media screen and (max-width: 767px) {
  .section-header {
    padding-bottom: 5px;
  }
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
@media screen and (max-width: 767px) {
  .site-nav {
    display: block;
  }
}

.link.current {
  color: #a77e58;
}
.link.current:hover, .link.current:focus {
  color: #ffffff;
}

.logo {
  font-size: 24px;
  font-weight: 700;
}
@media screen and (max-width: 767px) {
  .logo {
    display: inline-block;
    margin-bottom: 15px;
  }
}

.link, .logo {
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  line-height: 1.142;
  letter-spacing: 0.02em;
  margin-right: 30px;
}
.link:hover, .link:focus, .logo:hover, .logo:focus {
  color: #a77e58;
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  .logo_fixed {
    margin-left: 10px;
  }
}
.insta,
.telega,
.fb {
  fill: #fff;
  margin-left: 10px;
}

.social-network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .social-network {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-top: 20px;
  }
}

.nav_menu_item {
  position: relative;
}
@media screen and (max-width: 767px) {
  .nav_menu_item {
    font-size: 20px;
    margin-bottom: 15px;
  }
}

.menu_link {
  font-size: 14px;
  color: #ffffff;
}
.menu_link:hover, .menu_link:focus {
  color: #a77e58;
  text-decoration: underline;
}

.submenu_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-left: 20px;
}
@media screen and (max-width: 768px) {
  .submenu_item:not(:last-child) {
    padding-bottom: 10px;
  }
  .submenu_item:first-child {
    padding-top: 10px;
  }
}

.current {
  color: #a77e58;
}

/* =====================min-width:768px======================== */
@media screen and (min-width: 768px) {
  .logo_fixed {
    display: none;
  }
  .insta,
.telega {
    margin-left: 15px;
  }
  .header-portfolio {
    min-width: 320px;
    background-color: #1a1a1a;
    color: #ffffff;
    margin: 0px;
  }
  .header-portfolio .insta, .header-portfolio .telega, .header-portfolio .fb {
    fill: #fff;
  }
  .insta,
.telega,
.fb {
    fill: #000;
    margin-left: 10px;
  }
  .submenu {
    display: none;
  }
  .submenu_item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }
}
/* =====================min-width:1024px======================== */
@media screen and (min-width: 1024px) {
  .logo_fixed {
    display: none;
  }
  .submenu {
    position: absolute;
    z-index: 1;
    display: none;
    right: 0px;
    width: 170px;
  }
  .nav_menu_item:hover .submenu {
    background-color: #171717;
    border: 1px solid #a77e58;
    display: block;
    text-decoration: none;
    text-align: center;
  }
  .site-nav {
    margin-right: 230px;
  }
  .logo {
    margin-right: 80px;
  }
  .menu_link {
    padding: 5px;
  }
  .menu_link:hover, .menu_link:focus {
    background-color: #a77e58;
    color: #ffffff;
    width: 100%;
  }
}
/* ================Хедер END=================== */
/* ====================футер =========================*/
@media screen and (max-width: 767px) {
  .section-black.footer {
    padding: 15px;
  }
}
@media screen and (min-width: 768px) {
  .section-black.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .section-black.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 40px;
  }
}

.contacts-link {
  color: #ffffff;
}
.contacts-link:hover, .contacts-link:focus {
  color: #a77e58;
}

.contacts-link-item,
.contacts-link-type {
  margin-bottom: 10px;
}

.title-footer {
  margin-bottom: 15px;
  font-size: 26px;
  font-weight: 700;
  text-align: center;
}

.social-network.footer {
  margin: 10px auto;
}

@media screen and (min-width: 1024px) {
  .modal-form_footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 400px;
  }
}

.form-main-text_footer {
  margin-bottom: 20px;
  font-size: 30px;
  margin-left: 25px;
  margin-right: 0px;
}

.modal-form-input-field_footer,
.user-message_footer {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  width: 300px;
  margin-bottom: 15px;
}
.modal-form-input-field_footer:focus::-webkit-input-placeholder, .modal-form-input-field_footer::-webkit-input-placeholder, .user-message_footer:focus::-webkit-input-placeholder, .user-message_footer::-webkit-input-placeholder {
  color: #ffffff;
  outline: none;
}
.modal-form-input-field_footer:focus::-moz-placeholder, .modal-form-input-field_footer::-moz-placeholder, .user-message_footer:focus::-moz-placeholder, .user-message_footer::-moz-placeholder {
  color: #ffffff;
  outline: none;
}
.modal-form-input-field_footer:focus:-ms-input-placeholder, .modal-form-input-field_footer:-ms-input-placeholder, .user-message_footer:focus:-ms-input-placeholder, .user-message_footer:-ms-input-placeholder {
  color: #ffffff;
  outline: none;
}
.modal-form-input-field_footer:focus::-ms-input-placeholder, .modal-form-input-field_footer::-ms-input-placeholder, .user-message_footer:focus::-ms-input-placeholder, .user-message_footer::-ms-input-placeholder {
  color: #ffffff;
  outline: none;
}
.modal-form-input-field_footer:focus::placeholder, .modal-form-input-field_footer::placeholder,
.user-message_footer:focus::placeholder,
.user-message_footer::placeholder {
  color: #ffffff;
  outline: none;
}

.modal-form-btn_footer {
  width: 300px;
}

.left-part_footer {
  width: calc((100% - 100px) / 2);
  margin-left: 50px;
}
@media screen and (max-width: 1023px) {
  .left-part_footer {
    display: none;
  }
}

.right-part_footer {
  text-align: center;
}
@media screen and (min-width: 480px) {
  .right-part_footer {
    padding: 10px auto;
  }
}
@media screen and (min-width: 768px) {
  .right-part_footer {
    margin: 10px auto;
  }
}
@media screen and (min-width: 1024px) {
  .right-part_footer {
    margin-right: 50px;
    width: calc((100% - 100px) / 2);
  }
}

.contacts-link-set,
.right-part_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
@media screen and (max-width: 767px) {
  .contacts-link-set,
.right-part_footer {
    width: 90vw;
  }
}

/* ====================футер END=========================*/
/* ============== button ==================== */
.button {
  display: inline-block;
  background-color: #1a1a1a;
  color: #a77e58;
  display: inline-block;
  text-align: center;
  border: 2px solid #a77e58;
  padding: 21px 34px;
  min-width: 220px;
  margin-right: 30px;
  cursor: pointer;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}
@media screen and (max-width: 1023px) {
  .button {
    margin: 10px auto;
  }
}

.button.primary {
  background-color: #a77e58;
  color: #ffffff;
  border-width: 2px;
}

.corporate_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
  max-width: 300px;
}

.button-contact {
  color: #a77e58;
  border: none;
  background-color: transparent;
  border-color: transparent;
  margin: 30px 0px 30px 70px;
}

.button-detail {
  display: inline-block;
  color: #a77e58;
  border: none;
  background-color: transparent;
  border-color: transparent;
  margin: 30px 70px;
}

.button.primary.footer {
  display: inline-block;
  font-size: 16px;
  margin-bottom: 15px;
  margin-right: 0px;
}

.close-btn {
  position: absolute;
  top: 0px;
  right: 0px;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@media screen and (max-width: 1023px) {
  .mobile-none {
    display: none;
  }
}
/* ============== button END ==================== */
/* ===================HERO ======================*/
@media screen and (max-width: 767px) {
  .container.hero {
    padding: 0px 15px;
  }
}
@media screen and (min-width: 768px) {
  .container.hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 500px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.section-hero {
  background-image: -webkit-gradient(linear, right bottom, left top, from(#ffffff), to(#171717));
  background-image: linear-gradient(to top left, #ffffff, #171717);
  background-color: #1a1a1a;
  color: #ffffff;
  margin: 0px;
}
@media screen and (max-width: 767px) {
  .section-hero {
    min-height: 800px;
    width: 100vw;
    background-size: cover;
    background-image: url("../image/hero_for_mobile2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    border: none;
  }
}
@media screen and (min-width: 768px) {
  .section-hero {
    height: 500px;
    background-image: url("../image/hero2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-size: cover;
  }
}
@media screen and (min-width: 1024px) {
  .section-hero {
    min-height: 800px;
  }
}

#bg {
  height: 0;
  left: 100%;
  position: absolute;
  top: 100%;
  width: 0;
  z-index: 5;
}

#bg:after,
#bg:before {
  content: "";
  display: block;
  height: 50%;
  left: 0;
  width: 100%;
}

#bg:after {
  background-color: #000;
  bottom: 0;
}

#bg:before {
  background-color: #fff;
  top: 0;
}

.box-hero {
  display: block;
  width: 350px;
  padding-top: 50px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .box-hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 400px;
    margin-top: 30px;
    text-align: center;
    padding-top: 0px;
  }
}
@media screen and (min-width: 1024px) {
  .box-hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 600px;
    margin-top: 150px;
    padding-top: 50px;
  }
}

@media screen and (max-width: 767px) {
  .box-title-hero {
    max-height: 400px;
    margin-top: 10px;
  }
}
@media screen and (min-width: 768px) {
  .box-title-hero {
    max-height: 400px;
  }
}
@media screen and (min-width: 1024px) {
  .box-title-hero {
    max-height: 500px;
  }
}

.title-hero {
  color: #a77e58;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 1.08;
}
@media screen and (min-width: 768px) {
  .title-hero {
    font-weight: 600;
    font-size: 42px;
    line-height: 1.1;
  }
}
@media screen and (min-width: 1024px) {
  .title-hero {
    font-weight: 700;
    font-size: 60px;
    line-height: 1.15;
    text-align: start;
  }
}

.title-text {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  -ms-flex-item-align: center;
      align-self: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.08;
  margin: 12px;
}
@media screen and (min-width: 768px) {
  .title-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.1;
    margin: 12px;
  }
}
@media screen and (min-width: 1024px) {
  .title-text {
    font-weight: 600;
    font-size: 22px;
    line-height: 1.15;
    width: 240px;
    margin: 12px;
    text-align: start;
  }
}

@media screen and (min-width: 1024px) {
  .title-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.under-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.53;
  margin-bottom: 10px;
  opacity: 0.75;
}
@media screen and (min-width: 768px) {
  .under-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.53;
    width: 400px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .under-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.53;
    width: 550px;
    margin-bottom: 40px;
    text-align: start;
  }
}

/* ===================HERO END======================*/
/* ==================Переваги====================== */
.title-benefits {
  text-align: left;
}
@media screen and (max-width: 767px) {
  .title-benefits {
    min-width: 350px;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.15;
    letter-spacing: 0.3px;
    margin-bottom: 10px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .title-benefits {
    font-weight: 600;
    font-size: 32px;
    line-height: 1.18;
    letter-spacing: 0.4px;
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 1024px) {
  .title-benefits {
    width: 400px;
    font-weight: 700;
    font-size: 34px;
    line-height: 1.23;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
  }
}

.benefits-description-title {
  font-weight: 0;
  font-size: 18px;
}

.benefits-description {
  font-weight: 300;
  font-style: italic;
  font-size: 16px;
  margin-bottom: 15px;
  margin-left: 35px;
  font-family: "Courier New", Courier, monospace;
}
@media screen and (max-width: 767px) {
  .benefits-description {
    min-width: 320px;
    font-size: 14px;
    margin-bottom: 10px;
    margin-left: 30px;
  }
}

.benefits-description-title::before {
  content: "";
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 20px;
  height: 20px;
  margin-right: 15px;
  background-size: contain;
  background-image: url(../image/icon-v.svg);
}

@media screen and (max-width: 767px) {
  .img-benefits {
    width: 300px;
  }
}
@media screen and (max-width: 1023px) {
  .img-benefits {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 1024px) {
  .img-benefits_min {
    display: none;
  }
}
@media screen and (max-width: 1023px) {
  .img-benefits_min {
    margin: auto;
  }
}

@media screen and (max-width: 1023px) {
  .img-benefits_max {
    display: none;
  }
}

/* ==================Переваги END=================== */
/* ===========Корпоративні замовлення ================*/
@media screen and (max-width: 767px) {
  .corporative-section {
    background-color: #1a1a1a;
    color: #ffffff;
  }
}

.description.corporative {
  font-weight: 400;
  width: 90%;
  line-height: 1.55;
  margin-bottom: 10px;
  margin: auto;
}
@media screen and (max-width: 1023px) {
  .description.corporative {
    text-align: center;
  }
}

.bold_font {
  font-weight: bold;
}

.title.corporative {
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .title.corporative {
    text-align: start;
    margin-bottom: 15px;
  }
}

.box-corporative {
  padding: 10px;
}
@media screen and (min-width: 1024px) {
  .box-corporative {
    margin-left: 20px;
    width: calc((100% - 68px) / 3);
  }
}

.img-corporative {
  width: 40vw;
  height: auto;
  margin: 5px;
}
@media screen and (min-width: 768px) {
  .img-corporative {
    width: 40vw;
    margin: 10px;
  }
}
@media screen and (min-width: 1024px) {
  .img-corporative {
    margin: 15px;
    width: calc((100% - 80px) / 3);
  }
}

/* ===========Корпоративні замовлення END================*/
/*================= Наша команда =====================*/
@media screen and (max-width: 767px) {
  .team-container {
    display: none;
  }
}
@media screen and (min-width: 767px) {
  .team-container {
    min-height: 300px;
  }
}

.team_card_scene {
  background-color: #222222;
  width: calc((100% - 60px) / 6);
  min-height: 200px;
  margin: 5px;
  display: inline-block;
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .team_card_scene {
    width: calc((100% - 60px) / 3);
    margin: 10px;
    padding: 5px;
    min-height: 270px;
  }
}

.team.card {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: center right;
          transform-origin: center right;
  cursor: pointer;
  -webkit-perspective: 600px;
          perspective: 600px;
}
.team_card_scene:hover .team.card {
  -webkit-transform: translateX(-100%) rotateY(-180deg);
          transform: translateX(-100%) rotateY(-180deg);
}

.team_card_face {
  position: absolute;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background-color: #222222;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .team_card_face {
    width: 100%;
    height: 100%;
  }
}

.team_card_face.front {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.team_card_face.front img {
  width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .team_card_face.front {
    width: 100%;
    height: 100%;
  }
}

.team_card_face.back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.team-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .team-ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.team_card_face.back p {
  font-size: 12px;
  font-weight: 200;
  margin: 5px;
  text-align: center;
}

.team_card_face.back p:first-child {
  font-size: 14px;
  font-weight: 300;
  font-family: sans-serif;
}

/*================= Наша команда END===================*/
/* =================бревно======================== */
.container.wood {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 300px;
}
@media screen and (min-width: 480px) {
  .container.wood {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container.wood {
    width: 700px;
  }
}
@media screen and (min-width: 1024px) {
  .container.wood {
    width: 760px;
    padding-top: 15px;
  }
}

@media screen and (max-width: 767px) {
  .wood_img {
    width: 300px;
  }
}
@media screen and (max-width: 1023px) {
  .wood_img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

.quotes {
  fill: #a77e58;
}

/* =================бревно ENG===================== */
.box-map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  color: #2a2a2a;
}

/* =====================ПОРТФОЛІО======================== */
.section-portfolio {
  padding-top: 50px;
}
@media screen and (min-width: 768px) {
  .section-portfolio {
    padding-top: 60px;
  }
}
@media screen and (max-width: 1023px) {
  .section-portfolio {
    background-color: #1a1a1a;
  }
}

.portfolio.card,
.portfolio_card_show {
  position: relative;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  width: calc(100% - 20px);
  margin: 10px;
  padding: 5px;
}

.portfolio_backdrop {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: rgba(34, 34, 34, 0.6);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 20px;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
}

.detail-container:hover .portfolio_backdrop,
.detail-container:focus .portfolio_backdrop,
.portfolio.card:hover .portfolio_backdrop,
.portfolio.card:focus .portfolio_backdrop {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.detail-container {
  padding: 0px 10px;
  text-align: center;
}

.portfolio.card h2 {
  text-align: center;
  color: #171717;
  font-size: 20px;
}

.portfolio.card img {
  width: calc(100% - 30px);
  margin: 25px 15px 15px;
}

.portfolio.set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  list-style: none;
}

.portfolio-price {
  font-size: 16px;
  text-align: center;
}

.title.portfolio {
  color: #ffffff;
  position: absolute;
  top: 10px;
  left: 33%;
  z-index: 4;
}

/* =====================min-width:768px======================== */
@media screen and (min-width: 768px) {
  .portfolio.card,
.portfolio_card_show {
    width: calc((100% - 40px) / 2);
    margin: 10px;
  }
  .portfolio.card h2,
.portfolio_card_show h2 {
    font-size: 22px;
  }
  .title.portfolio {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
            clip-path: inset(50%);
    margin: -1px;
  }
}
/* =====================min-width:1024px======================== */
@media screen and (min-width: 1024px) {
  .portfolio.card,
.portfolio_card_show {
    width: 370px;
    height: auto;
    -ms-flex-preferred-size: calc((100% - 80px) / 2);
        flex-basis: calc((100% - 80px) / 2);
    margin: 20px;
    padding: 15px;
  }
  .portfolio.card img,
.portfolio_card_show img {
    width: calc(100% - 10px);
    margin: 5px;
  }
  .portfolio-description {
    font-size: 25px;
  }
}
/* =====================ПОРТФОЛІО END====================== */
.under_menu:hover .menu_massengers {
  display: block;
}

.under_menu {
  position: fixed;
  right: 30px;
  bottom: 30px;
}
@media screen and (min-width: 1024px) {
  .under_menu {
    right: 60px;
    bottom: 60px;
  }
}

.menu_massengers {
  position: absolute;
  bottom: 100%;
  right: 10px;
  display: none;
}

.connect {
  background-color: #a77e58;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  padding: 5px;
}
.connect:hover {
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}
.connect:hover.massengers_items {
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

.massengers_items svg {
  border-radius: 50%;
  border: 1px solid #ffffff;
}

.menu-container {
  display: none;
}
.menu-container.is-open {
  display: block;
  z-index: 2;
  position: absolute;
  top: 100%;
  right: 0;
  width: 60vw;
  padding: 5px 20px;
  background-color: #1a1a1a;
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: auto;
  margin-right: 10px;
  margin-top: 10px;
  padding: 0;
  border: none;
  background-color: transparent;
}
.menu-button .icon-cross {
  display: none;
}
.menu-button.is-open .icon-cross {
  display: block;
}
.menu-button.is-open .icon-menu {
  display: none;
}

.icon-cross,
.icon-menu {
  fill: #fff;
}

.mobile-menu_contact {
  font-size: 14x;
  font-style: italic;
}

.contact-link_mobile,
.text_contact_mobile,
.contact_mobile {
  color: #ffffff;
}

/* =====================min-width:768px======================== */
@media screen and (min-width: 768px) {
  .mobile-menu_contact,
.menu-button {
    display: none;
  }
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/* Расположите контейнер изображения (необходимо расположить стрелки влево и вправо) */
.portfolio.card {
  position: relative;
}

/* Скрыть изображения по умолчанию */
.mySlides {
  display: none;
}

/* Вперед и предыдущие кнопки */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

/* Позиция "next кнопка" на право */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* При наведении курсора добавьте черный цвет фона с небольшим количеством прозрачного */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Номера текст (1/3 и т.д.) */
.numbertext {
  color: #171717;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Контейнер для текста изображения */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Шесть колонн бок о бок */
.column {
  float: left;
  width: 16.66%;
}

.reviews_box {
  display: block;
  background-color: #ffffff;
  padding: 20px;
  font-size: 14px;
  font-weight: 300;
  max-width: 560px;
}

.reviews_set {
  margin-top: 20px;
}
@media screen and (min-width: 767px) {
  .reviews_set {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.card_client_reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews_item {
  margin: 10px;
}

.part_reviews_box {
  display: block;
  margin-left: 35px;
  border: 20px solid transparent;
  border-left: 20px solid #ffffff;
  border-top: 20px solid #ffffff;
  width: 0;
  height: 0;
}

.photo_client {
  border-radius: 50%;
}

.description_rewievs {
  margin-left: 15px;
}

.section-about {
  background-color: #f5f5f5;
  color: black;
  margin: 0px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.section-about .container {
  background-color: #fff;
}

.header-about {
  background-color: #1a1a1a;
  padding: 3px;
}

.title.about_us {
  color: #ffffff;
  width: 100%;
  position: absolute;
  top: 10px;
  left: 43%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.box_description_about {
  margin-top: 60px;
  padding-left: 15px;
  padding-right: 15px;
}

.fb_white,
.insta_white,
.telega_white {
  fill: #ffffff;
  width: 30px;
}

.our_works_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  list-style: none;
  margin-top: 10px;
}

.our_works_item {
  width: calc(100% - 20px);
  height: auto;
  margin: 10px 20px;
}

.img_our_works {
  width: 100%;
  height: auto;
}

/* =====================min-width:768px======================== */
@media screen and (min-width: 768px) {
  .our_works_item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
  .box_description_about {
    margin-top: 120px;
  }
  .title.about_us {
    color: #171717;
    left: 50%;
    top: 80px;
  }
}
/* =====================min-width:1024px======================== */
@media screen and (min-width: 1024px) {
  .our_works_item {
    width: calc((100% - 120px) / 3);
    margin: 20px;
  }
  .section-about {
    padding-bottom: 15px;
    padding-top: 80px;
  }
  .box_description_about {
    margin-top: 60px;
  }
}
.article_img {
  width: 90vw;
  height: auto;
  margin: 5px;
}

.article_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  list-style: none;
  margin-top: 10px;
}

.article_title {
  text-align: center;
  color: black;
  font-size: 26px;
}

.article_description {
  font-weight: 0;
  font-size: 18px;
}

.article_box {
  padding: 60px 10px 0px 10px;
}

/* =====================min-width:768px======================== */
@media screen and (min-width: 768px) {
  .article_img {
    width: calc(100% - 10px);
    margin: 5px;
  }
  .article_item {
    width: 370px;
    height: auto;
    -ms-flex-preferred-size: calc((100% - 80px) / 2);
        flex-basis: calc((100% - 80px) / 2);
    margin: 20px;
    padding: 15px;
  }
  .article_item:hover {
    scale: 1.1;
  }
}
@media screen and (min-width: 1024px) {
  .article_box {
    padding: 15px;
  }
}/*# sourceMappingURL=main.css.map */