
    $primary-text-color: #000000;
    $primary-fone-color: #1a1a1a;
    $portfolio-text-color: #171717;
    $accent-text-color: #a77e58;
    $primary-white-color: #ffffff;
    $primary-grey-color: #f5f5f5;




/* #a77e58 - цвет акцента */
/* 1a1a1a - черный цвет фон */
/* #ffffff - белый шрифт */
/* #171717 - серый для портфолио */
/* #000000 - черный - основной цвет */
/* #222222 - -цвет фона карточек наша команда */





