/* ===========Корпоративні замовлення ================*/

.corporative-section{
    @media screen and (max-width:767px) {
        background-color: $primary-fone-color;
        color: $primary-white-color;
    } 
}

.description.corporative {
    font-weight: 400;
    width: 90%;
    line-height: 1.55;
    margin-bottom: 10px;
    margin: auto;   
    @media screen and (max-width:1023px){
        text-align: center;

        } 
    }

    .bold_font{
        font-weight: bold;
    }
    
    .title.corporative{
        text-align: center;

    @media screen and (min-width:1024px){
        text-align: start;
        margin-bottom: 15px;
    } 
    }
    
    .box-corporative{
        padding: 10px;
        
        @media screen and (min-width:1024px){
            margin-left: 20px;
            width: calc((100% - 68px) / 3);
        } 
    }
    
    .img-corporative{
        
            width: 40vw;
            height: auto;
            margin: 5px;
        
        @media screen and (min-width:768px){
            width: 40vw;
            margin: 10px;
        } 
        
        @media screen and (min-width:1024px){
            margin: 15px;
            width: calc((100% - 80px) / 3);
        } 
    }
    
    
    /* ===========Корпоративні замовлення END================*/
    
    