/* ===========Корпоративні замовлення ================*/



.description.corporative {
    font-weight: 400;
    width: 100%;
    line-height: 1.55;
    margin-bottom: 10px;
    
    @media screen and (max-width:1023px){
        text-align: center;
    } margin: auto;
    }
    
    .title.corporative{
    @media screen and (max-width:1023px){
        text-align: center;
    } 
    
    @media screen and (min-width:1024px){
        text-align: start;
        margin-bottom: 15px;
    } 
    }
    
    .box-corporative{
        @media screen and (max-width:1023px){
            padding: 10px;
        } 
        
        @media screen and (min-width:1024px){
            margin-left: 50px;
        } 
    }
    
    .img-corporative{
 
        @media screen and (max-width:767px){
            width: 40vw;
            height: auto;
            margin: 5px;
        } 
        
        @media screen and (min-width:768px){
            width: 40vw;
            margin: 10px;
        } 
        
        @media screen and (min-width:1024px){
            margin: 15px;

        } 
    }
    
    
    /* ===========Корпоративні замовлення END================*/
    
    