
.box-map{
    display: flex;
    justify-content: center;
}


body {
  font-family: sans-serif;
  line-height: 1.5;
  color: #2a2a2a;
}


// .list {
//   padding: 20px;
//   margin: 0;
//   list-style: none;
// }

// .list-item:not(:last-child) {
//   margin-bottom: 5px;
// }



// .list-link {
//   display: inline-flex;
//   align-items: center;
//   color: currentColor;
//   text-decoration: none;
//   font-size: 32px;
// }

// .list-link::before,
// .list-link::after {
//   content: "";
//   width: 24px;
//   height: 24px;
//   background-size: contain;
// }
