.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    justify-content: center;
    justify-content: space-between;
   
    background-color: #fff;
    color: #000;
    transition: transform 500ms linear 500ms;
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 4px;

    @media screen and (max-width:767px){
        width: 90vw;
    }
    @media screen and (min-width:768px) and (max-width:1024){
        width: 90vw;
        height: 90vh;
        overflow: scroll;
   }
   
   @media screen and (min-width:1024px){
    width: 560px;
    min-height: 650px;
    padding: 20px;
   }
}

.form-description-text,
.form-policy-text {
    text-align: center;
}

.form-main-text{
    font-size: 25px;
    align-self: center;
}

.user-message,
.modal-form-input-field{
    display: block;

    @media screen and (max-width:767px){
        width: 85vw;
    }
    @media screen and (min-width:768px){
        width: 85vw;
   }
   
   @media screen and (min-width:1024px){
    width: 470px;
    height: 50px;
   }
}

.modal-form-btn{
    display: block;
    background-color: #000000;
    color: white;

    cursor: pointer;
    border-radius: 4px;
    @media screen and (max-width:767px){
        width: 85vw;
    }
    @media screen and (min-width:768px){
        width: 85vw;
   }
   
   @media screen and (min-width:1024px){
    width: 470px;
    height: 50px;
}
}

.modal-form-field,
.modal-form-btn{
    margin-bottom: 15px;
}

.modal-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 45px;
}
textarea{
    resize: none;
    min-height: 80px;
}


.backdrop{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    transition: all 500ms linear;
}


.backdrop.is-hidden {
    transition: all 500ms linear 500ms;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
    transition: transform 500ms linear 0ms;
}