/* =============Хедер========================== */

header{
    position: absolute;
    width: 100%;
    align-items: center;

    @media screen and (max-width:767px){
        position: fixed;
        background-color: $primary-fone-color;
        opacity: 0.8;
        z-index: 3;
    }
}




.section-header{
    color: $primary-white-color;
    margin: 0px;
    padding-bottom: 5px;
    @media screen and (max-width:767px){
        padding-bottom: 5px;
    }
}


.site-nav{
    display: flex;
    justify-content: center;
    position: relative;

    @media screen and (max-width:767px){
        display: block;
    }

}
.link.current{
    color: $accent-text-color;

    &:hover, 
    &:focus {
        color: $primary-white-color;   
    }
}

.logo{
    font-size: 24px;
    font-weight: 700;


    @media screen and (max-width:767px){
        display: inline-block;
        margin-bottom: 15px;
    }
}

.link, .logo {
    color: $primary-white-color;
    font-style: normal;
    font-weight: 500;
    line-height: 1.142;
    letter-spacing: 0.02em;
    margin-right: 30px;
    &:hover, 
    &:focus {
        color: $accent-text-color;   
        text-decoration: underline;  
    }
}

@media screen and (max-width:767px){
.logo_fixed{
    margin-left: 10px;
}
}



.insta,
.telega,
.fb {
    fill: #fff;
    margin-left: 10px;
}



.social-network{
    display: flex;
    @media screen and (max-width:767px){
        align-items: flex-end;
        margin-top: 20px;
    }
}

.nav_menu_item{
    position: relative;
    
    @media screen and (max-width:767px){
        font-size: 20px;
        margin-bottom: 15px;
    } 
}

.menu_link{
    font-size: 14px;
    color: $primary-white-color;
    &:hover,
    &:focus {
        color: $accent-text-color; 
        text-decoration: underline;          
    }
}

.submenu_item{
    display: flex;
    justify-content: start;
    padding-left: 20px;
    @media screen and (max-width:768px){
    &:not(:last-child){
        padding-bottom: 10px;
    }
    &:first-child{
        padding-top: 10px;
    }
}
}

.current{
    color: $accent-text-color;
  }

/* =====================min-width:768px======================== */

@media screen and (min-width:768px){
    .logo_fixed{
        display: none;
    }
    .insta,
    .telega {
    margin-left: 15px;
  }

  .header-portfolio{
    min-width: 320px;
    background-color: $primary-fone-color;
    color: $primary-white-color;
    margin: 0px;
 

    & .insta,
    & .telega,
    & .fb {
        fill: #fff;
    }


}

.insta,
.telega,
.fb {
    fill: #000;
    margin-left: 10px;
}


.submenu{
    display: none;
    
}

.submenu_item{
    justify-content: center;
    padding: 0;
}
}

/* =====================min-width:1024px======================== */

@media screen and (min-width:1024px){
    .logo_fixed{
        display: none;
    }

.submenu{
    position: absolute;
    z-index: 1;

    display: none;

    right: 0px;
    width: 170px;
    .nav_menu_item:hover &{
        background-color: $portfolio-text-color; 
        border: 1px solid $accent-text-color;
        display: block;
        text-decoration: none;
        text-align: center;
    }
}


.site-nav{
    margin-right: 230px;
}

.logo{
    margin-right: 80px;   
}

.menu_link{
    padding: 5px;
    &:hover,
    &:focus {
        background-color: $accent-text-color; 
        color: $primary-white-color; 
        width: 100%;
        
    }
}
}
/* ================Хедер END=================== */